<div class="min-h-[calc(100vh-480px)] flex flex-col items-center">
  <div
    class="top-container w-full h-[230px] flex justify-center items-center"
    #donationsRef
    style="
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.142) 0%,
          rgba(0, 0, 0, 0) 14.58%
        ),
        url('assets/bg_doacoes.jpg');
      background-size: cover;
      background-position: center;
    "
  >
    <h1 class="text-white font-bold text-3xl md:text-5xl">DÍZIMOS E OFERTAS</h1>
  </div>
  <div class="w-[60%] max-w-[1000px] md:h-[500px] flex flex-col md:flex-row justify-between py-16">
    <div class="flex flex-col gap-2 text-base mb-10 md:mb-0">
      <h2 class="text-black text-4xl font-roboto mb-3">Transferências</h2>
      <p><span class="font-bold">Banco</span> 403 - Banco Cora SDC</p>
      <p><span class="font-bold">Agência</span> 0001</p>
      <p><span class="font-bold">Conta Corrente</span> 4416982-0</p>
      <p><span class="font-bold">CNPJ</span> 52.782.534/0001-10</p>
      <p><span class="font-bold">Nome</span>: Ministério Cristão Aba Pai</p>
    </div>
    <div class="hidden md:block w-[1px] h-[300px] bg-gray-500"></div>
    <div class="flex flex-col items-center">
      <h2 class="text-black text-4xl font-roboto mb-3">PIX</h2>
      <img class="w-[130px]" src="assets/qr-code-igreja.png" alt="" />
      <p class="mt-3">CNPJ: 52.782.534/0001-10</p>
      <p class="text-bold mt-1">MINISTÉRIO CRISTÃO ABA PAI</p>
    </div>
  </div>
</div>
