<div class="w-full h-[350px] bg-tertiary-200 flex justify-center items-center">
  <div class="w-[80%] sm:w-[60%] max-w-[1000px] flex flex-col gap-[20px] text-[#636363]">
    <div class="flex justify-between items-start">
      <div class="hidden md:flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">SOBRE NÓS</h2>
        <p class="hover:opacity-80 hover:cursor-pointer">QUEM SOMOS</p>
        <p class="hover:opacity-80 hover:cursor-pointer">EM QUE CREMOS</p>
        <p class="hover:opacity-80 hover:cursor-pointer">HISTÓRIA</p>
        <a routerLink="/programacao" class="hover:opacity-80 hover:cursor-pointer"
          >PROGRAMAÇÃO</a
        >
      </div>

      <div class="hidden md:flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">MÍDIA</h2>
        <a
          href="https://www.youtube.com/@MINIST%C3%89RIOCRIST%C3%83OABAPAI/videos"
          target="_blank"
          class="hover:opacity-80 hover:cursor-pointer"
          >PREGAÇÕES</a
        >
        <a
          href="https://play.google.com/store/apps/details?id=br.com.radiosapp5.rdioabapairn&hl=pt_BR"
          target="_blank"
          class="hover:opacity-80 hover:cursor-pointer"
          >WEB-RÁDIO ABAPAI RN</a
        >
        <a href="https://www.youtube.com/@tvabapairn" target="_blank" class="hover:opacity-80 hover:cursor-pointer">TV ABAPAI RN</a>
        <a href="https://www.youtube.com/@MINIST%C3%89RIOCRIST%C3%83OABAPAI/streams" target="_blank" class="hover:opacity-80 hover:cursor-pointer">CULTOS GRAVADOS</a>
      </div>

      <div class="hidden md:flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">MAIS</h2>
        <a routerLink="/ofertas" class="hover:opacity-80 hover:cursor-pointer">DOAÇÕES</a>
        <p class="hover:opacity-80 hover:cursor-pointer">PEDIDOS DE ORAÇÃO</p>
        <p class="hover:opacity-80 hover:cursor-pointer">FALE CONOSCO</p>
      </div>

      <div class="flex flex-col gap-5">
        <div class="flex gap-5 sm:gap-3 justify-center sm:justify-start">
          <a
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer transition duration-300 hover:scale-110"
            href="https://www.facebook.com/igrejaministeriocristaoabapai"
            target="_blank"
          >
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <a
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer transition duration-300 hover:scale-110"
            href="https://www.instagram.com/igrejamcabapai"
            target="_blank"
          >
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer transition duration-300 hover:scale-110"
            href="https://www.youtube.com/@MINIST%C3%89RIOCRIST%C3%83OABAPAI"
            target="_blank"
          >
            <fa-icon [icon]="faYoutube"></fa-icon>
          </a>
          <a
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer transition duration-300 hover:scale-110"
            href="#"
          >
            <fa-icon [icon]="faXTwitter"></fa-icon>
          </a>
        </div>

        <div class="flex gap-1">
          <span class="material-symbols-outlined text-white text-xl"> location_on </span>
          <p class="max-w-[250px] text-white text-xs leading-5">
            Rua Adail Pamplona de menezes n°38 Nova Parnamirim, Parnamirim, RN, Brazil
          </p>
        </div>

        <div class="flex items-center gap-1">
          <span class="material-symbols-outlined text-white text-xl"> mail </span>
          <p class="text-white text-xs">igrejamcabapai&#64;hotmail.com</p>
        </div>

        <div class="flex items-center gap-1">
          <span class="material-symbols-outlined text-white text-xl"> call </span>
          <p class="text-white text-xs">+55 (84) 99830-5218</p>
        </div>
      </div>
    </div>

    <div class="py-3 flex items-center pl-[46px] border-tertiary-100 border-t-2 text-xs">
      <p class="font-sans">
        ©2025 MINISTÉRIO CRISTÃO ABA PAI - TODOS OS DIREITOS RESERVADOS
      </p>
    </div>
  </div>
</div>
