<div class="w-full h-[350px] bg-tertiary-200 flex justify-center items-center">
  <div class="w-[60%] max-w-[1000px] flex flex-col gap-[20px] text-[#636363]">
    <div class="flex justify-between items-start">
      <div class="flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">SOBRE NÓS</h2>
        <p>QUEM SOMOS</p>
        <p>EM QUE CREMOS</p>
        <p>HISTÓRIA</p>
        <p>PROGRAMAÇÃO</p>
      </div>

      <div class="flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">MÍDIA</h2>
        <p>PREGAÇÕES</p>
        <p>WEB-RÁDIO ABAPAI RN</p>
        <p>TV ABAPAI RN</p>
        <p>CULTOS GRAVADOS</p>
      </div>

      <div class="flex flex-col gap-2.5 text-sm">
        <h2 class="font-bold text-white mb-2 text-base">MAIS</h2>
        <p>DOAÇÕES</p>
        <p>PEDIDOS DE ORAÇÃO</p>
        <p>FALE CONOSCO</p>
      </div>

      <div class="flex flex-col gap-5">
        <div class="flex gap-2">
          <div
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer"
          >
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </div>
          <div
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer"
          >
            <fa-icon [icon]="faInstagram"></fa-icon>
          </div>
          <div
            class="w-[32px] h-[32px] flex justify-center items-center bg-white rounded-2xl text-[#262425] text-lg hover:cursor-pointer"
          >
            <fa-icon [icon]="faYoutube"></fa-icon>
          </div>
        </div>

        <div class="flex gap-1">
          <span class="material-symbols-outlined text-white text-xl"> location_on </span>
          <p class="max-w-[250px] text-white text-xs leading-5">Rua Adail Pamplona de menezes n°38 Nova Parnamirim, Parnamirim, RN, Brazil</p>
        </div>

        <div class="flex items-center gap-1">
          <span class="material-symbols-outlined text-white text-xl"> mail </span>
          <p class="text-white text-xs">contato.mcabapai&#64;mail.com</p>
        </div>

        <div class="flex items-center gap-1">
          <span class="material-symbols-outlined text-white text-xl"> call </span>
          <p class="text-white text-xs">+55 (84) 99830-5218</p>
        </div>
      </div>
    </div>

    <div class="py-3 flex items-center pl-[46px] border-tertiary-100 border-t-2 text-xs">
      <p class="font-sans">
        ©2024 MINISTÉRIO CRISTÃO ABA PAI - TODOS OS DIREITOS RESERVADOS
      </p>
    </div>
  </div>
</div>
