.content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-bar-top {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #02082c;
    padding: 0 41px;
}

.main-content {
    width: 100vw;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02082c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.top-content-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.social-icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }
}

.menu-item {
    font-family: 'Inter';
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;

    svg {
        font-size: 19px;
        color: #ffffff;
    }

    &:hover {
        cursor: pointer;
    }
}
