<swiper-container
  style="
    --swiper-navigation-color: #fff;
    --swiper-navigation-size: 25px;
    --swiper-navigation-sides-offset: 25px;
  "
  loop="true"
  navigation="true"
  pagination="true"
  autoplay-delay="6000"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <div
      class="slider-item"
      style="background-image: url('assets/capa_welcome_wide.png')"
    ></div>
  </swiper-slide>
  <swiper-slide>
    <div
      class="slider-item"
      style="background-image: url('assets/tvabapaibanner2.png')"
    ></div>
  </swiper-slide>
</swiper-container>
