<div class="min-h-[calc(100vh-480px)] flex flex-col items-center">
  <div
    class="top-container w-full h-[160px] md:h-[230px] flex justify-center items-center"
    #donationsRef
    style="
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.142) 0%,
          rgba(0, 0, 0, 0) 98.58%
        ),
        url('assets/bg_intercessao.jpg');
      background-size: cover;
      background-position: center;
    "
  >
    <h1 class="text-white font-bold text-3xl md:text-5xl">PROGRAMAÇÃO</h1>
  </div>
  <div
    class="w-[92%] md:w-[60%] max-w-[1000px] flex flex-col gap-5 justify-between py-16"
  >
    <ng-container *ngFor="let e of events">
      <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
        <div
          class="text-[#50a7b3] text-lg md:text-[28px] font-bold w-[26%] md:w-[22%] flex justify-center items-center"
        >
          {{ e.time }}
        </div>
        <div class="w-[1px] h-[90%] bg-gray-300"></div>
        <div class="pl-4 md:pl-10 flex flex-col justify-center h-[100%]">
          <p class="text-[#50a7b3] text-xl font-bold">{{ e.days }}</p>
          <p class="text-base">{{ e.name }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
