<div class="min-h-[calc(100vh-480px)] flex flex-col items-center">
  <div
    class="top-container w-full h-[230px] flex justify-center items-center"
    #donationsRef
    style="
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.142) 0%,
          rgba(0, 0, 0, 0) 98.58%
        ),
        url('assets/bg_intercessao.jpg');
      background-size: cover;
      background-position: center;
    "
  >
    <h1 class="text-white font-bold text-3xl md:text-5xl">PROGRAMAÇÃO</h1>
  </div>
  <div
    class="w-[60%] max-w-[1000px] flex flex-col gap-5 justify-between py-16"
  >
    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        6H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Segunda à sexta</p>
        <p class="text-base">Culto Matutino</p>
      </div>
    </div>

    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        19H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Quarta-feira</p>
        <p class="text-base">Culto do Poder de Deus</p>
      </div>
    </div>

    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        9H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Sábado de manhã</p>
        <p class="text-base">Devocional de Consagração</p>
      </div>
    </div>

    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        19H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Sábado à noite</p>
        <p class="text-base">Círculo de oração</p>
      </div>
    </div>

    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        10H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Domingo de manhã</p>
        <p class="text-base">Escola Bíblica Dominical</p>
      </div>
    </div>

    <div class="bg-[#f0f0f0] w-full h-[85px] flex p-2 rounded-xl">
      <div
        class="text-[#50a7b3] text-[28px] font-bold w-[22%] flex justify-center items-center"
      >
        18H00
      </div>
      <div class="w-[1px] h-[90%] bg-gray-300"></div>
      <div class="pl-10 flex flex-col justify-center h-[100%]">
        <p class="text-[#50a7b3] text-xl font-bold">Domingo à noite</p>
        <p class="text-base">Culto Graça Viva</p>
      </div>
    </div>
  </div>
</div>
