.player-controls {
    width: 180px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .play-pause-button {
    font-size: 17px;
    color: #fff;

    &:hover {
        cursor: pointer;
      }
  }

  .play-back-button {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }

  .play-forward-button {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }

  .volume-slider {
    input[type="range"] {
      width: 50px;
      height: 5px;
      border-radius: 5px;
      background: #fff;
      outline: none;
      -webkit-appearance: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #4157e7;
        cursor: pointer;
      }
    }
  }
