<div class="player-controls">
  <audio #audioPlayer preload="none">
    <source src="https://hts01.brascast.com:12044/live" />
    Your browser does not support the audio tag.
  </audio>

  <div class="play-back-button">
    <fa-icon [icon]="faBackwardStep"></fa-icon>
  </div>

  <div class="play-pause-button" (click)="toggleAudio()">
    @if (isPlaying) {
      <fa-icon [icon]="faPause"></fa-icon>
    } @else {
      <fa-icon [icon]="faPlay"></fa-icon>
    }
  </div>

  <div class="play-forward-button">
    <fa-icon [icon]="faForwardStep"></fa-icon>
  </div>

  <div class="volume-slider">
    <input
      type="range"
      min="0"
      max="100"
      [value]="volume"
      (input)="handleVolumeChange($event)"
    />
  </div>
</div>
